#clergy{
	text-align: right;
}

#fireClergy{
	text-align: right;
}

#upgrades{
	text-align: right;
}

#hireDeacon{
	background: grey; border: 4px solid grey; 
}

#hirePriest{
	background: black; border: 4px solid black; color: white;
}

#hirePastor{
	background: black; border: 4px solid black; color: white;
}


#hireMonsignor{
	background: black; border: 4px solid purple; color:white;
}

